:root {
  --click_cursor: hand;
  --default_cursor: cell;

  --main_background_color: grey;
  --main_text_color: white;

  --contact_background_color: black;
  --contact_text_color: green;
}

#Powitanie {
  position: absolute;
  top: 200px;
  right: 500px;
  cursor: var(--click_cursor);
  display: block;
}

#text1 {
  position: absolute;
  top: 500px;
  right: 1000px;
  cursor: var(--click_cursor);
  display: none;
}

.mainBody {
  background-color: var(--main_background_color);
  color: var(--main_text_color);
  cursor: var(--default_cursor);
}

.contactBody {
  background-color: var(--contact_background_color);
  color: var(--contact_text_color);
  cursor: var(--default_cursor);
}

p {
  font-size: 25;
}

h1 {
  font-size: 35;
}
